$top: -25px;

.two-pointers {
  .container {
    position: relative;
  }

  .pointer {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid;
    position: absolute;
    top: $top;
    margin-left: $top / 1.5;

    &.one {
      border-top-color: #f00;
    }

    &.two {
      border-top-color: rgb(17, 0, 255);
    }
  }

  .answer {
    font-weight: bold;
  }
}
