.two-pointers {
  .pointer {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid;
    display: inline-block;

    &.one {
      border-top-color: #f00;
    }

    &.two {
      border-top-color: rgb(17, 0, 255);
    }
  }

  .answer {
    font-weight: bold;
  }
}
